{
  "extends": [
    "@verdaccio"
  ],
  "plugins": ["jest"],
  "rules": {
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-function-return-type": ["warn",
      {
          "allowExpressions": true,
          "allowTypedFunctionExpressions": true
    }]
  },
  "env": {
    "jest/globals": true
  }
}
