src/
tests-report/
.editorconfig
.gitignore
yarn-error.log
yarn.lock
.idea/
.eslintrc
.babelrc
test/
.eslintignore
.eslintrc.yml
.npmignore
.travis.yml
*.tmp-*
circle.yml
travis.yml
*.md
coverage/
jest.config.js
jestEnvironment.js
tests/
.idea/
.circleci/
tsconfig.json
jest.config.js
.DS_Store
.prettierrc
*.spec.js