src/
tests-report/
.nyc_output
.editorconfig
.gitignore
yarn-error.log
yarn.lock
.eslintrc
.babelrc
test/
.eslintignore
.eslintrc.yml
.npmignore
.travis.yml
__tests__
coverage/
.idea/
tsconfig.json
.DS_Store
.prettierrc
jest.config.js
.circleci
types/
