{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
	],
	"extends": [
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "flowtype/no-weak-types": 1
  }
}