src/
tests-report/
.nyc_output
.editorconfig
.gitignore
yarn-error.log
yarn.lock
.idea/
.eslintrc
.babelrc
tests/
.eslintignore
.eslintrc.yml
.npmignore
.travis.yml
*.tmp-*
_storage/
circle.yml
travis.yml
*.md
coverage/
jest.config.js
jestEnvironment.js
renovate.json
.prettierrc
types/
