src/
tests-report/
.nyc_output
.editorconfig
.gitignore
yarn-error.log
yarn.lock
.eslintrc
.babelrc
test/
.eslintignore
.eslintrc.yml
.npmignore
.travis.yml
coverage/
types/
.idea/
.circleci/
tsconfig.json
jest.config.js
.DS_Store
.prettierrc
*.spec.js