{
  "presets": [["env", {
    "targets": {
      "node": "4.6"
    }
  }], "flow"],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-async-to-generator"
      ]
    }
  }
}
