name: Changesets

on:
  schedule:
    - cron: '0 0 * * *'

  push:
    branches:
      - main

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  # Update package versions from changesets.
  version:
    timeout-minutes: 14
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.repository == 'verdaccio/monorepo'
    steps:
      - name: checkout code repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: setup node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.nvmrc'
      - name: install pnpm
        run: npm i -g corepack@latest || corepack enable && corepack prepare pnpm@latest-9 --activate
      - name: install dependencies
        run: pnpm install
      - name: build
        run: pnpm build
      - name: create versions
        uses: changesets/action@master
        with:
          version: pnpm ci:version
          commit: 'build: release packages'
          title: 'build: release packages'
          publish: pnpm ci:publish
          createGithubReleases: true
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESET_RELEASE_TOKEN }}
          NPM_TOKEN: ${{ secrets.REGISTRY_AUTH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.REGISTRY_AUTH_TOKEN }}
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org
