name: CI

on:
  push:
    branches:
      - main
      - 'changeset-release/main'
  pull_request:
    paths:
      - .changeset/**
      - .github/workflows/ci.yml
      - 'core/**'
      - 'plugins/**'
      - 'tools/**'
      - 'package.json'
      - 'pnpm-workspace.yaml'
jobs:
  prepare:
    runs-on: ubuntu-latest
    name: setup verdaccio
    services:
      verdaccio:
        image: verdaccio/verdaccio:6
        ports:
          - 4873:4873
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Use Node
      uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
      with:
        node-version-file: '.nvmrc'
    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare --activate pnpm@latest-8
    - name: Install
      run: pnpm install --registry http://localhost:4873
  lint:
    runs-on: ubuntu-latest
    name: Lint
    needs: prepare
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Use Node
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare --activate pnpm@latest-8
      - name: Install
        run: pnpm install --ignore-scripts
      - name: Lint
        run: pnpm lint
      - name: Format
        run: pnpm format:check
  test:
    needs: lint
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        node_version: [18, 20, 22, 24]
    name: ${{ matrix.os }} / Node ${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Use Node ${{ matrix.node_version }}
        uses: actions/setup-node@65d868f8d4d85d7d4abb7de0875cde3fcc8798f5
        with:
          node-version: ${{ matrix.node_version }}
      # - name: untar packages
      #   run: tar -xzvf pkg.tar.gz -C ${{ github.workspace }}/packages
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare --activate pnpm@latest-8
      - uses: actions/cache@640a1c2554105b57832a23eea0b4672fc7a790d5
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: build
        run: pnpm build
      - name: Test
        run: pnpm test


