name: CI

on:
  push:
    branches:
      - master
      - 'changeset-release/master'
  pull_request:
    paths:
      - .changeset/**
      - .github/workflows/ci.yml
      - 'core/**'
      - 'plugins/**'
      - 'tools/**'
      - 'package.json'
      - 'pnpm-workspace.yaml'
jobs:
  prepare:
    runs-on: ubuntu-latest
    name: setup verdaccio
    services:
      verdaccio:
        image: verdaccio/verdaccio:5
        ports:
          - 4873:4873
    steps:
    - uses: actions/checkout@v2.7.0
    - name: Use Node
      uses: actions/setup-node@v2
      with:
        node-version-file: '.nvmrc'
    - name: Install pnpm
      run: |
        corepack enable
        corepack prepare --activate pnpm@latest-8
    - name: Install
      run: pnpm install --registry http://localhost:4873
  lint:
    runs-on: ubuntu-latest
    name: Lint
    needs: prepare
    steps:
      - uses: actions/checkout@v2.7.0
      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare --activate pnpm@latest-8
      - name: Install
        run: pnpm install --ignore-scripts
      - name: Lint
        run: pnpm lint
  test:
    needs: lint
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        node_version: [16, 18]
    name: ${{ matrix.os }} / Node ${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.7.0
      - name: Use Node ${{ matrix.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
      # - name: untar packages
      #   run: tar -xzvf pkg.tar.gz -C ${{ github.workspace }}/packages
      - name: Install pnpm
        run: |
          corepack enable
          corepack prepare --activate pnpm@latest-8
      - uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install
        run: pnpm recursive install --frozen-lockfile --ignore-scripts
      - name: build
        run: pnpm build
      - name: Test
        run: pnpm test


